In [1]:
import pandas as pd

In [12]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
august_bikedata=pd.read_csv('201908-citibike-tripdata.csv', 'r')
print(august_bikedata)

                                                         t  \
0                               393,00:01.5,06:35.4,531,Fo
1               627,00:01.9,10:29.8,274,Lafayette Ave & Fo
2                              1132,00:04.0,18:56.2,2000,F
3        1780,00:04.2,29:44.8,479,9 Ave & W 45 St,40.76...
4        1517,00:05.5,25:23.5,3312,1 Ave & E 94 St,40.7...
...                                                    ...
1048570  595,10:53.8,20:49.7,477,W 41 St & 8 Ave,40.756...
1048571  321,10:54.0,16:15.5,3557,40 Ave & 9 St,40.7574...
1048572  891,10:54.1,25:46.0,3708,W 13 St & 5 Ave,40.73...
1048573  194,10:54.9,14:09.5,168,W 18 St & 6 Ave,40.739...
1048574                       836,10:55.5,24:52.0,387,Cent

                                                      ipdu  \
0                                              syth St & B
1                                                      t G
2        ont St & Washington St,40.70255088,-73.9894023...
3             ystie St,40.72110063,-73.9919254,25002,Subsc
4                                                      ibe
...                                                    ...
1048570                                                ibe
1048571                                             th & C
1048572                                                NaN
1048573                                                ibe
1048574                                      e St & Chambe

                                                 ation,sta  \
0                  oome St,40.71893904,-73.99266288,408,Ma
1                   eene Pl,40.68691865,-73.976682,3409,Be
2                                         esident St & Hen
3                                                      ibe
4                                                  ,1965,2
...                                                    ...
1048570                                            ,1964,1
1048571     escent St,40.75110165,-73.94073717,17174,Subsc
1048572  ison St & Hudson St,40.71870987,-74.0090009,27...
1048573                                            ,1990,2
1048574  s St,40.71273266,-74.0046073,314,Cadman Plaza ...

                                        ttime,stoptime,sta t station id,sta  \
0                                             ket St & Che              NaN
1        gen St & Smith St,40.6867443,-73.99063168,3882...              ibe
2                 y St,40.6828003,-73.99990419,18373,Subsc              ibe
3                                                  ,1988,1              NaN
4                                                      NaN              NaN
...                                                    ...              ...
1048570                                                NaN              NaN
1048571                                                ibe          ,1976,1
1048572                                            ,1969,0              NaN
1048573                                                NaN              NaN
1048574                                                ibe          ,1988,1

                                t station name,sta t station latitude,sta  \
0        y St,40.71076228,-73.99400398,35305,Subsc                    ibe
1                                          ,1998,2                    NaN
2                                          ,1988,1                    NaN
3                                              NaN                    NaN
4                                              NaN                    NaN
...                                            ...                    ...
1048570                                        NaN                    NaN
1048571                                        NaN                    NaN
1048572                                        NaN                    NaN
1048573                                        NaN                    NaN
1048574                                        NaN                    NaN

        t station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,use  \
0                                                  ,1996,2
1                                                      NaN
2                                                      NaN
3                                                      NaN
4                                                      NaN
...                                                    ...
1048570                                                NaN
1048571                                                NaN
1048572                                                NaN
1048573                                                NaN
1048574                                                NaN

        type,bi th yea ,gende  Unnamed: 11
0           NaN    NaN    NaN          NaN
1           NaN    NaN    NaN          NaN
2           NaN    NaN    NaN          NaN
3           NaN    NaN    NaN          NaN
4           NaN    NaN    NaN          NaN
...         ...    ...    ...          ...
1048570     NaN    NaN    NaN          NaN
1048571     NaN    NaN    NaN          NaN
1048572     NaN    NaN    NaN          NaN
1048573     NaN    NaN    NaN          NaN
1048574     NaN    NaN    NaN          NaN

[1048575 rows x 12 columns]

In [13]:
august_bikedata.head

<bound method NDFrame.head of                                                          t  \
0                               393,00:01.5,06:35.4,531,Fo
1               627,00:01.9,10:29.8,274,Lafayette Ave & Fo
2                              1132,00:04.0,18:56.2,2000,F
3        1780,00:04.2,29:44.8,479,9 Ave & W 45 St,40.76...
4        1517,00:05.5,25:23.5,3312,1 Ave & E 94 St,40.7...
...                                                    ...
1048570  595,10:53.8,20:49.7,477,W 41 St & 8 Ave,40.756...
1048571  321,10:54.0,16:15.5,3557,40 Ave & 9 St,40.7574...
1048572  891,10:54.1,25:46.0,3708,W 13 St & 5 Ave,40.73...
1048573  194,10:54.9,14:09.5,168,W 18 St & 6 Ave,40.739...
1048574                       836,10:55.5,24:52.0,387,Cent

                                                      ipdu  \
0                                              syth St & B
1                                                      t G
2        ont St & Washington St,40.70255088,-73.9894023...
3             ystie St,40.72110063,-73.9919254,25002,Subsc
4                                                      ibe
...                                                    ...
1048570                                                ibe
1048571                                             th & C
1048572                                                NaN
1048573                                                ibe
1048574                                      e St & Chambe

                                                 ation,sta  \
0                  oome St,40.71893904,-73.99266288,408,Ma
1                   eene Pl,40.68691865,-73.976682,3409,Be
2                                         esident St & Hen
3                                                      ibe
4                                                  ,1965,2
...                                                    ...
1048570                                            ,1964,1
1048571     escent St,40.75110165,-73.94073717,17174,Subsc
1048572  ison St & Hudson St,40.71870987,-74.0090009,27...
1048573                                            ,1990,2
1048574  s St,40.71273266,-74.0046073,314,Cadman Plaza ...

                                        ttime,stoptime,sta t station id,sta  \
0                                             ket St & Che              NaN
1        gen St & Smith St,40.6867443,-73.99063168,3882...              ibe
2                 y St,40.6828003,-73.99990419,18373,Subsc              ibe
3                                                  ,1988,1              NaN
4                                                      NaN              NaN
...                                                    ...              ...
1048570                                                NaN              NaN
1048571                                                ibe          ,1976,1
1048572                                            ,1969,0              NaN
1048573                                                NaN              NaN
1048574                                                ibe          ,1988,1

                                t station name,sta t station latitude,sta  \
0        y St,40.71076228,-73.99400398,35305,Subsc                    ibe
1                                          ,1998,2                    NaN
2                                          ,1988,1                    NaN
3                                              NaN                    NaN
4                                              NaN                    NaN
...                                            ...                    ...
1048570                                        NaN                    NaN
1048571                                        NaN                    NaN
1048572                                        NaN                    NaN
1048573                                        NaN                    NaN
1048574                                        NaN                    NaN

        t station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,use  \
0                                                  ,1996,2
1                                                      NaN
2                                                      NaN
3                                                      NaN
4                                                      NaN
...                                                    ...
1048570                                                NaN
1048571                                                NaN
1048572                                                NaN
1048573                                                NaN
1048574                                                NaN

        type,bi th yea ,gende  Unnamed: 11
0           NaN    NaN    NaN          NaN
1           NaN    NaN    NaN          NaN
2           NaN    NaN    NaN          NaN
3           NaN    NaN    NaN          NaN
4           NaN    NaN    NaN          NaN
...         ...    ...    ...          ...
1048570     NaN    NaN    NaN          NaN
1048571     NaN    NaN    NaN          NaN
1048572     NaN    NaN    NaN          NaN
1048573     NaN    NaN    NaN          NaN
1048574     NaN    NaN    NaN          NaN

[1048575 rows x 12 columns]>

In [14]:
# 2. Check the datatypes of your columns. 
type(august_bikedata)

pandas.core.frame.DataFrame

In [5]:
# 3. Convert the 'tripduration' column to datetime datatype.

In [6]:
# 4. Check the datatypes of your columns.

In [7]:
# 5. Export the Dataframe as a new CSV file without the index.